doctype html
html
    head
        style
            include html.scss
    body
        div
            h3 Message sent from:
            ul 
                li Name: 
                    b #{contactName}
                li Email: 
                    b #{contactEmail}

        div
            h3 Message:
            p #{contactMessage}


