doctype html
html
    head
        style
            include ../html.scss
    body
        .message
            p
                b #{inviterName}
                |  has removed you from 
                br
                |  &ldquo;
                b #{collectionName}
                | &rdquo; collection




